@media (max-width: 480px) {

  #primary-nav a:not(:first-child) {
    display: none;
  }
  
  #primary-nav a:first-child {
    margin: 0 auto;
    font-size: 20px;
  }
  body {
    font-size: 0.8rem; /* Further reduce font size for mobile */
  }

  p {
    font-size: 12pt; /* Smaller paragraph text for mobile */
    margin-left: 10px;
    margin-right: 10px;
  }

  #primary-nav .container {
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  #primary-nav a {
    margin: 5px 0; /* Space out links vertically */
    font-size: 12px;
  }

  #hero {
    height: 300px; /* Further reduce hero height */
    margin-top: 90px; /* Agregamos margin-top para evitar el traslape con el nav */
  }

  #hero .container {
    display: block; /* Cambiamos a block para mostrar el contenido */
  }

  #hero h1 {
    font-size: 2rem; /* Tamaño más pequeño para móvil */
  }

  #hero .hero-subtitle {
    display: none; /* Ocultamos el subtítulo */
  }

  #main, #design {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .bird-section {
    grid-template-columns: 1fr; /* Stack all content */
    gap: 15px;
  }

  .bird-images {
    grid-template-columns: 1fr; /* 1 column for images */
    justify-items: center; /* Centra las imágenes dentro de su contenedor */
    text-align: center;
  }

  .bird-images img {
    margin: 0 auto; /* Centra las imágenes completamente */
  }

  #footer {
    padding: 20px 0;
  }

  .footer-email-form h2 {
    font-size: 20px;
  }

  #footer-email {
    font-size: 12px;
    height: 35px;
  }

  #footer button {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #hero {
    height: 400px;
    margin-top: 90px; /* Consistencia en el margin para tablets */
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #hero .hero-subtitle {
    display: none;
  }

  .bird-section {
    grid-template-columns: 2fr; /* Stack all content */
    gap: 15px;
  }

  .bird-images {
    grid-template-columns: 2fr; /* 1 column for images */
    justify-items: center; /* Centra las imágenes dentro de su contenedor */
    text-align: center;
  }

  .bird-images img {
    margin: 0 auto; /* Centra las imágenes completamente */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #hero {
    height: 500px;
    margin-top: 90px; /* Consistencia en el margin para pantallas medianas */
  }

  #hero h1 {
    font-size: 3rem;
  }

  #hero .hero-subtitle {
    display: none;
  }

  .bird-section {
    grid-template-columns: 2fr; /* Stack all content */
    gap: 15px;
  }

  .bird-images {
    grid-template-columns: 2fr; /* 1 column for images */
    justify-items: center; /* Centra las imágenes dentro de su contenedor */
    text-align: center;
  }

  .bird-images img {
    margin: 0 auto; /* Centra las imágenes completamente */
  }
}
  

